*{
    text-decoration: none;
    color: white;
}

body {
    height: 90vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(96, 137, 213);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.title {
    font-size: 50px;
    font-weight: 900;
    background-image: url("image/naipess.jpg");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.paragrafo {
    color: black;
    text-align: center;
}

.api-link {
    color: rgb(0, 0, 0);
}

.api-link:hover{
    text-decoration: underline;
    color: gold;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}


.btn-card {
    background-color: rgb(38, 0, 255);
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    color: black;
    border: 2px solid black;
    font-weight: 600;
}

.btn-card:hover {

    border:2px solid white;
    color: white;
    background-color: black;
    transition: ease-in-out .3s;

}
