main {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: all .5s ease-in-out;
}

.image {
    background-color: whitesmoke;
}

body .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


body .secao {
    width: 600px;
    padding: 20px;
    border-radius: 1.5rem;
    background-color: rgb(110, 109, 109);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
}

.plus {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.escondido {
    display: none;
}

.aparecendo {
    display: block;
}