@media (max-width: 840px) {
    
    body {
        background-color: black;
    }


    .header{
        flex-direction: column;
    }

    .navegation-bar {
        flex-direction: column;
    }

    .menu-itens ul {
        flex-direction: column;
    }
}