
body {
    background-color: gray;
    font-weight: 700;
}

.header {
    max-width: 100%;
}

.navegation-bar {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.logo{
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

.logo-img {
    margin-left: 45px;

}

.logo h1 {
    display: flex;
    align-items: center;
}

.menu-itens ul {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 59px 10px;
}

.menu-destaque {
    width: 55px;
    height: 40px;
    background-color: #5BC241;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastre-se {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 45px;
    background-color: #5BC241;
    width: 127px;
    height: 39px;
}