:root {
    --principal: #fff;
    --texto: #000000;

    --header-color: #a0a0a0;

    --card-color: #cccccc;
    --card-border: #040303;
}

body.dark-theme {
    --principal: #0c003d;
    --texto: #282727;

    --header-color: #0091ff;

    --card-color: #7905ff;
    --card-border: #22ab00;
}

body {

    background-color: var(--principal);
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
    margin: 0 0 50px 0px;
    padding: 0 20px 0 0;
}

.logo {
    width: 100px;
}


/* main */

.into {
    display: flex;
    gap: 5rem;
}

.introducao {
    width: 40%;
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 60px;

    background-color: var(--card-color);
    border: 2px solid var(--card-border);
    color: var(--texto);

}

.image img {
    border-radius: 50%;
    border: 2px solid transparent;
}

.image img:hover {
    border: 2px solid white;
}